<% wrap_layout :layout do %>

<h1><%= current_page.title %></h1>

<%= yield %>

<h3>Recent Entry</h3>
<ol>
  <% blog(blog_controller.name).articles[0...3].each do |article| %>
    <li>
      <% link_to article do %>
        <%= article.title %>
        <span><%= article.date.strftime('%b %e') %></span>
      <% end %>
    </li>
  <% end %>
</ol>
<% end %>